PORT=3000
JWT_SECRET="super_secret_key_change_in_production"

AUTH_URL=http://localhost:3001
NOTIFICATIONS_URL=http://localhost:3002
LLM_URL=http://localhost:3003
CLUSTERING_INTEGRATOR_URL=http://localhost:3004
CLUSTERING_SUBJECT_URL=http://localhost:3005
CLUSTERING_STUDENTS_INFO_URL=http://localhost:3006
CLUSTERING_STUDENTS_GROUPS_URL=http://localhost:3007
